{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<h1 style="color:green;">ABOUT US</h1>
	
<p>We are trying to give one platform for the farmers to use all the needed information at a glance.
It generates quick product report and market report.
We are giving all the needed information by farmer at one platform rather than multiple
platforms burden, time consuming, and our platform is more user friendly, simpler, and more
time & space efficient platform. 
We  Give Website solution for statistical and graphical information of mandi and weather with list of
authorised dealer of local areas for various farming activity, it gives farmer friendly material
for farmers. It generates quick product report and market report.
</p>

</div>

{% endblock %}