{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<table>
	<legend style="color:green;">Contact Us</legend>
	<tr>
		<th>Sr. No</th>
		<th>	Enrollment No.</th>
		<th>Name	</th>
		<th>Collage Name</th>
		<th>College	Department</th>
		<th>Mobile No.</th>
		<th>Email</th>
	</tr>
	<tr>
		<td>1</td>
		<td>160770107097</td>
		<td>Parmar Kishan Sureshbhai</td>
		<td>SILVER OAK COLLEGE OF ENGINEERING & TECHNOLOGY, AHMEDABAD</td>
		<td>Computer Engineering</td>
		<td>8469184667</td>
		<td>kishanparmar903@gmail.com</td>
	</tr>
	<tr>
		<td>2</td>
		<td>160770107090</td>
		<td>Nayan Sakhiya</td>
		<td>SILVER OAK COLLEGE OF ENGINEERING & TECHNOLOGY, AHMEDABAD</td>
		<td>Computer Engineering</td>
		<td>9978768550</td>
		<td>nayansakhiya25@gmail.com</td>
	</tr>
	<tr>
		<td>3</td>
		<td>170773107022</td>
		<td>Panchal Nirajkumar Ramanlal</td>
		<td>SILVER OAK COLLEGE OF ENGINEERING & TECHNOLOGY, AHMEDABAD</td>
		<td>Computer Engineering</td>
		<td>8401690189</td>
		<td>panchalniraj777@gmail.com</td>
	</tr>
	<tr>
		<td>4</td>
		<td>160770107204</td>
		<td>Shah Nilay Nileshbhai</td>
		<td>SILVER OAK COLLEGE OF ENGINEERING & TECHNOLOGY, AHMEDABAD</td>
		<td>Computer Engineering</td>
		<td>9099473114</td>
		<td>nilayshah876@gmail.com</td>
	</tr>
	<tr>
		<td>5</td>
		<td>160770107224</td>
		<td>Sunpreet Singh</td>
		<td>SILVER OAK COLLEGE OF ENGINEERING & TECHNOLOGY, AHMEDABAD</td>
		<td>Computer Engineering</td>
		<td>9574862903</td>
		<td>singhsunpreet7777@gmail.com</td>
	</tr>
</table>
</div>
   			

{% endblock %}